dnspython==2.7.0
ntplib==0.4.0
Requests==2.32.3
selenium==4.26.1
urllib3==2.2.3
websocket_client==1.8.0
psutil~=6.1.0
colorama~=0.4.6
websocket-client~=1.8.0
python-whois~=0.9.5
langchain~=0.3.13
langchain-community~=0.3.13
langchain-core~=0.3.28
transformers~=4.47.1
langgraph~=0.2.60
langchain-openai~=0.2.14
ipython~=8.12.3
langchain-ollama
typing_extensions~=4.12.2
langsmith~=0.2.4